!!!
%html
  %head
    %title Twitter
    %link{rel: 'stylesheet', href: '/style.css', type: 'text/css'}
  %body
    -if flash[:notice]
      =flash[:notice]
    -if flash[:alert]
      =flash[:alert]
    %ul.nav
      %li
        %a{href: '/'} Home
      -if current_user
        %li
          %a{href: '/sign_out'} Sign out
      -else
        %li
          %a{href: '/users/new'} Sign up
        %li
          %a{href: '/sign_in'} Sign in

    =yield
    This is the footer.